.Authorbook {
  // height: 110vh;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  &__Samplebook {
    margin-top: 45px;
  }
  // &__Bookdesc {
  //   display: flex;
  //   flex-direction: column;
  // }
  .samplebook {
    height: 440px;
  }
  .Aboutbook {
    font-size: 20px;
    line-height: 35px;
    color: #000;
  }
}

.Row{
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
  padding: 20px;
  
}

.abtiaryButton{
  background-color: #0b5ed7;
  border-color: #0a58ca;
  color: #fff;
  border-radius: 5px;
}

.formInputs{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  // padding: 0.375rem 0.75rem;
  margin: 5px;
  width: 400%;
  
}
.textareaform{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 5px;
  width: 96%;
}

.store.container-fluid {
  text-align: end;
  h2.headings {
    margin: 15px;
  }
  img.logos {
    height: 25px;
    margin: 10px;
    transition: 0.5s ease;
    backface-visibility: hidden;
    opacity: 1;
  }
  img.logos:hover {
    opacity: 0.5;
  }
}
